.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
}

.tabela-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  margin-top: 20px;
}

.carregando {
  text-align: center;
  padding: 30px;
}