.login-container {
    height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  width: 100%;
}